@model List<EmployeeModel>
<h1>List of employees</h1>

<table class="table table-hover">
    <tr>
        <th>ID <a asp-controller="Employee" asp-action="Index" asp-route-sort="ID"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
               </a>
        </th>
        <th>Name</th>
        <th>Surname <a asp-controller="Employee" asp-action="Index" asp-route-sort="Surname"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
               </a>
        </th>
        <th>Year of birth</th>
        <th>Department <a asp-controller="Employee" asp-action="Index" asp-route-sort="Department"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                </svg>
               </a>
        </th>
        <th>Position</th>        
    </tr>
    @foreach(var employ in Model)
    {
        <tr>
            <td>@employ.ID</td>
            <td>@employ.Name</td>
            <td>@employ.Surname</td>
            <td>@employ.YearOfBirth</td>
            <td>@employ.Department</td>
            <td>@employ.Position</td>
        </tr>
    }
</table>