@model List<StudentModel>

@if(Model.Count() == 0){
    <p>There are no students</p>
}
else{
    <table class="table table-hover">
        <tr>
            <th>
                Id 
                <a asp-controller="student" asp-action="Index" asp-route-sort="Id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
            </th>
            <th>Surname 
                <a asp-controller="student" asp-action="Index" asp-route-sort="Name">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
            </th>
            <th>Name</th>
            <th>Year of birth</th>
            <th>Class</th>
            <th>Average grade</th>
        </tr>
        @foreach(var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Surname</td>                   
                <td>@student.Name</td>
                <td>@student.YearOfBirth</td>
                <td>@student.Class</td>
                @if(@student.AverageGrade != 0)
                    {
                     <td><a asp-controller="Student" asp-action="View" asp-route-id="@student.Id">
                         @student.AverageGrade</a></td>   
                    }
                else{<td>-</td>}
            </tr>
        }
    </table>
}
<a asp-controller="Student" asp-action="AddStudent" method="get">
    <button type="button" class="btn btn-primary btn-sm">New student</button>
</a>
