@model StudentModel
<h1>@Model.Name @Model.Surname</h1>
<table class="table table-stripped">
    <tr>
        <th>Grade</th>
        <th>Subject</th>
        <th>Description</th>       
    </tr>
    @foreach(var grade in Model.Grades)
    {
        <tr>
            <td>@grade.Mark</td>
            <td>@grade.Subject.Title</td>
            <td>@grade.Description</td>            
        </tr>
    }
</table>
<p><a asp-controller="student" asp-action="Index" asp-route-sort="Name">Back</a></p>
