@model List<GradeModel>

@if(Model.Count() == 0){
    <p>There are no grades</p>
}
else{
    <table class="table table-hover">
        <tr>
            <th>
                Id 
                <a asp-controller="grade" asp-action="Index" asp-route-sort="Id">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </a>
            </th>
            <th>Grade 
                <a asp-controller="grade" asp-action="Index" asp-route-sort="Grade">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                </a>
            </th>
            <th>Description</th>
            <th>Subject</th>
            <th>Name</th>
            <th>Surname</th>            
        </tr>
        @foreach(var grade in Model)
        {
            <tr>
                <td>@grade.Id</td>
                <td>@grade.Mark</td>
                <td>@grade.Description</td>
                <td>@grade.Subject.Title</td>
                <td>@grade.Student.Name</td>
                <td>@grade.Student.Surname</td>
            </tr>
        }
    </table>
}
<div>
    <a asp-controller="grade" asp-action="AddGrade" method="get">
        <button type="button" class="btn btn-primary btn-sm">New grade</button>
    </a>
</div>
<div><p></p></div>
<div>
    <a asp-controller="grade" asp-action="AddGradeSelection" method="get">
        <button type="button" class="btn btn-primary btn-sm">New grade (selection)</button>
    </a>
</div>

